In [ ]:
import pandas as pd
df = pd.read_csv("audible_uncleaned.csv")

In [246]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [247]:
df.duplicated().any()

False

In [248]:
df['author'] = df['author'].str.replace('Writtenby:', '')
df['narrator'] = df['narrator'].str.replace('Narratedby:', '')

In [249]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [250]:
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].replace('Free', '0')
df['price'] = df['price'].astype(float)

In [251]:
df[df['price'] % 1 != 0]

,name,author,narrator,time,releasedate,language,stars,price
5235,Deity,JenniferL.Armentrout,JustineEyre,11 hrs and 7 mins,22-04-14,English,5 out of 5 stars1 rating,1007.95
27533,Working with Emotional Intelligence,DanielGoleman,DanielGoleman,3 hrs and 24 mins,23-05-01,English,5 out of 5 stars2 ratings,444.95

In [252]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.0

In [253]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.0

In [254]:
df['time'] = df['time'].replace('Less than 1 minute', '1 min')
df['hours'] = df['time'].str.extract(r'(\d+)\s*hr').fillna(0).astype(int)
df['minutes'] = df['time'].str.extract(r'(\d+)\s*min').fillna(0).astype(int)
df['duration_minutes'] = df['hours'] * 60 + df['minutes']
print(df[['time', 'duration_minutes']].head())

                 time  duration_minutes
0   2 hrs and 20 mins               140
1   13 hrs and 8 mins               788
2    2 hrs and 3 mins               123
3  11 hrs and 16 mins               676
4              10 hrs               600

In [255]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,hours,minutes,duration_minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.0,2,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.0,13,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.0,2,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.0,11,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.0,10,0,600

In [ ]:

df.drop(columns=['hours', 'minutes'], inplace=True)
df.drop(columns=['time'], inplace=True)

In [257]:
df.head()

,name,author,narrator,releasedate,language,stars,price,duration_minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,04-08-08,English,5 out of 5 stars34 ratings,468.0,140
1,The Burning Maze,RickRiordan,RobbieDaymond,01-05-18,English,4.5 out of 5 stars41 ratings,820.0,788
2,The Deep End,JeffKinney,DanRussell,06-11-20,English,4.5 out of 5 stars38 ratings,410.0,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,05-10-21,English,4.5 out of 5 stars12 ratings,615.0,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,13-01-10,English,4.5 out of 5 stars181 ratings,820.0,600

In [258]:
df['author'] = df['author'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)
df['narrator'] = df['narrator'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)

In [259]:
df.columns = df.columns.str.upper()

In [260]:
df.isna().sum()

NAME                0
AUTHOR              0
NARRATOR            0
RELEASEDATE         0
LANGUAGE            0
STARS               0
PRICE               0
DURATION_MINUTES    0
dtype: int64

In [261]:
df['STAR_VALUE'] = df['STARS'].str.extract(r'([\d.]+)').astype(float)

In [262]:
df['RATING_PERCENT'] = (df['STAR_VALUE'] / 5) * 100

In [263]:
df[['STAR_VALUE','RATING_PERCENT']] = df[['STAR_VALUE','RATING_PERCENT']].fillna(0).astype(int)

In [264]:
df.drop(columns=['STARS','STAR_VALUE'], inplace=True)

In [265]:
df = df.sort_values(by='RATING_PERCENT', ascending=False)

In [266]:
df.to_csv("audible_cleaned.csv", index=False)

In [267]:
df[df['LANGUAGE'] == 'English']

,NAME,AUTHOR,NARRATOR,RELEASEDATE,LANGUAGE,PRICE,DURATION_MINUTES,RATING_PERCENT
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,04-08-08,English,468.0,140,100
7610,Roald Dahl Reads Charlie and the Chocolate Fac...,Roald Dahl,Roald Dahl,01-09-16,English,615.0,220,100
7611,The Long Haul,Jeff Kinney,Dan Russell,05-11-14,English,410.0,126,100
7612,The Terrible Two Get Worse,"Mac Barnett,Jory John",Adam Verner,12-01-16,English,585.0,212,100
7616,Boy,Roald Dahl,Dan Stevens,11-09-14,English,615.0,191,100
...,...,...,...,...,...,...,...,...
31462,Weaving Dreams,Tami Longaberger,Mary Kae Irvin,16-12-10,English,703.0,325,0
31461,One Minute Team Building,Justin Sachs,Christiande Looper,01-01-12,English,468.0,193,0
31460,The 4 Lenses of Innovation,Rowan Gibson,Steven Roy Grimsley,14-05-15,English,668.0,492,0
31459,The Healthy Workplace,Leigh Stringer,Marguerite Gavin,27-06-16,English,656.0,402,0
87488,Havana,Mark Kurlansky,Fleet Cooper,07-03-17,English,569.0,361,0

In [268]:
df[df['PRICE'] == 0]

,NAME,AUTHOR,NARRATOR,RELEASEDATE,LANGUAGE,PRICE,DURATION_MINUTES,RATING_PERCENT
66902,Devi Bhagwat Puran,Dr.Vinay,Sarvesh Vyas,19-07-21,Hindi,0.0,433,100
66896,Garuda Puran,Dr.Vinay,Sarvesh Vyas,19-07-21,Hindi,0.0,368,100
66898,Kurma Puran (Hindi Edition),Dr.Vinay,Ashwini Walia,19-07-21,Hindi,0.0,360,100
66895,Rigveda,Raj Bahadur Pandey,Swetanshu Bora,19-07-21,Hindi,0.0,470,100
66889,Shiv Puran (Hindi Edition),Dr.Vinay,Neeraj Yadav,19-07-21,Hindi,0.0,474,100
...,...,...,...,...,...,...,...,...
34972,St John New Zealand Clinical Procedures and Gu...,St John New Zealand,Dryw Mc Arthur,30-03-22,English,0.0,698,0
35602,Deep Sleep. Le Pilote,Oliver Wunderlich,Marc Toupence,26-10-20,french,0.0,28,0
35622,Academic Ableism,Jay TDolmage,Laurence Kennedy,12-06-20,English,0.0,505,0
29521,Aatmvishwas Safalta Ka Aadhar [Confidence Is t...,Kailash Gupta,Parvez Gauhar,19-07-21,Hindi,0.0,434,0
30021,Millionaire Upgrade,Richard Parkes Cordock,Nigel Acheson,08-06-06,English,0.0,206,0